---
// src/layouts/Layout.astro
import "../styles/global.css"; // 引入 Tailwind CSS

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <script src="https://unpkg.com/zxcvbn@4.4.2/dist/zxcvbn.js"></script>
    <script>
      // 确保 zxcvbn 在全局 window 对象上可用
      if (typeof zxcvbn !== "undefined") {
        window.zxcvbn = zxcvbn;
      }
    </script>

    <script>
      // 这个脚本会在构建时被 Astro 处理并打包，然后客户端执行
      import qrcode from "qrcode"; // 导入本地安装的 qrcode 库
      window.QRCodeGenerator = qrcode; // 将 qrcode 对象暴露到全局 window
    </script>
  </head>
  <body
    class="min-h-screen bg-gray-50 text-gray-800 flex flex-col font-inter antialiased"
  >
    <slot />
  </body>
</html>

<style is:global>
  textarea::-webkit-scrollbar {
    width: 8px;
  }
  textarea::-webkit-scrollbar-track {
    background: #f0f2f5; 
    border-radius: 4px;
  }
  textarea::-webkit-scrollbar-thumb {
    background: #cdd2d7; 
    border-radius: 4px;
  }
  textarea::-webkit-scrollbar-thumb:hover {
    background: #aab0b6; 
  }

  button:disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }
</style>
